:root {
  --link-color: #df5c52;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f3f6f999;
  /* font-family: Roobert,sans-serif; */
}

.link-text {
  color: var(--link-color);
  text-decoration: none;
}

.link-text:hover,
.link-text-inherit:hover {
  text-decoration: underline;
}

.link-text-inherit {
  color: inherit;
  text-decoration: none;
}

.notice-title {
  text-decoration: none;
  color: var(--link-color);
}

.notice-title:hover {
  text-decoration: underline;
}

.slider-container {
  padding: 0 30px;
}

.slider-container .slick-prev::before,
.slider-container .slick-next::before {
  color: var(--link-color);
}

.section-title {
  color: var(--link-color);
}

.black-link {
  color: #212121de !important;
}

fieldset {
  border: 0px;
  padding: 0;
}

fieldset:disabled {
  opacity: 0.5;
}
